


html { overflow-x: hidden; }
*{
    cursor:pointer;
    outline:none;
    -webkit-tap-highlight-color: transparent;
}




.html{
    font-family: "Microsoft JhengHei";
}
.h20{
    height: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none;
}
/*滾動條美化*/

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/*滾動條美化結束*/
/* webkit 浏览器*/
::-webkit-input-placeholder { color:orange; }
::-webkit-input-placeholder {
    color:orange;
    font-size: 16px;
    padding-left: 10px;
    display: inline-block;
}
::-webkit-input-placeholder {

    color:orange ;
}
/* 火狐浏览器 */
::-moz-placeholder { color:orange ; }
::-moz-placeholder {
    color:orange ;
}

.main{
    width: 400px;
    height: 317px;
    margin:200px auto;

}
.logo{
    width: 64px;
    margin: 0 168px;
}
.login{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border-radius: 10px;
    width: 400px;
    height:317px;
}
.web-input{
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 4px;
    display: inline-block;
    margin: 0 50px;
    width: 300px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
    margin-top: 20px;
}
input:focus{
    border: 1px solid #ffa302;
 box-shadow: rgb(255, 162, 4) 0px 0px 5px 0px;
    outline-color: orange;
}
.btn-login,.btn-register{
width:300px;
border-radius: 20px;
margin: 0 50px;
margin-top: 0px;
height: 32px;
border: none;
background-image:-webkit-linear-gradient(to right, orange, rgb(255,127,43)); background-image:linear-gradient(to right,orange,rgb(255,127,43));
color: white;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}
.btn-login:hover{
    box-shadow: none;
}
.login-txt-left{
float: left;
width: 200px;
color: orange;
text-align: center;
}
.login-txt-right{
float: left;
width: 150px;
color: orange;
text-align: center;
}
.else-login img{
width: 45px;
padding: 5px;
border: 2px solid #FFA500;
border-radius: 50px;
margin:20px 13.5px;
}
.else-login .first{
margin-left: 62.5px;
}
.chat-div{
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border-radius: 10px;
    width: 888px;
    height:666px;
    margin: 100px auto;
}
/*.chat-div-top{*/
    /*box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;*/
    /*border-radius: 10px 10px 0 0;*/
    /*width: 888px;*/
    /*height:50px;*/
    /*background-image:-webkit-linear-gradient(to right, orange, rgb(255,127,43)); background-image:linear-gradient(to right,orange,rgb(255,127,43));*/
/*}*/
.portrait{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: url("../images/portrait.jpg");
    background-size: 40px;
    margin-left: 10px;
    margin-top: 15px;
    display: -webkit-inline-box;
    float: left;
}
.search-div input{
    width: 100px;
    height:30px;
    float: left;
    border: none;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 30px;
    color: orange;
}
.chat-div-left{
    float: left;
    width: 60px;
    height: 666px;
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    background: rgb(62,58,56);
}
.chat-left-logo{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    background: url("../images/chat2.png");
    float: left;
    background-size: 60px;
}
.chat-div-main{
    width: 250px;
    height:666px;
    background-image:-webkit-linear-gradient(to top, rgb(240,240,240), rgb(227,225,223)); background-image:linear-gradient(to top, rgb(240,240,240), rgb(227,225,223));
    float: left;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}
.chat-div-main-top{
    width: 250px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat-list-div{
    float: left;
    height:66px;
    width:250px;


    /*border-bottom: 1px solid rgba(0,0,0,0.12);*/
}
.chat-portrait{
    width: 40px;
    height:40px;
    margin: 13px;
    float: left;
}
.chat-username{
    margin: 0;
    min-width: 50px;
    width: auto;
    margin-top: 10px;
    float: left;
}
.isNoFriend{
    margin: 0;
    margin-top: 10px;
    float: left;
}
.select-id{
    background: rgb(202,199,198);
}
.chat-search{
    height:64px;
    width: 200px;
    background: rgb(236,234,232);
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    float: left;
}
.search-input{
    border: 1px rgb(202,202,202) solid;
    margin-left: 9px;
    margin-top: 19.5px;
    background: rgb(229,226,226);
    width: 188px;
    height:23px;
}
.addFriend-div{
    width:50px;
    height:64px;
    background: rgb(236,234,232);
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    float: left;
}
.addFriend{
    border:1px rgb(202,202,202) solid;
    width: 25px;
    height:25px;
    margin-top:19.5px;
    margin-left: 12.5px;
}
.chat-div-right{
    width: 578px;
    height:666px;
    background: rgb(245,245,245);
    float: left;
}
.chat-div-right-top{
    height:64px;
    width: 578px;
    border-radius: 0 10px 0 0;
    border-bottom: 1px rgba(0,0,0,0.12) solid;
}
.chatting-username{
    line-height: 64px;
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
    width: 340px;
    float: left;
}
.chatting{
    overflow:scroll ;
    width: 578px;
    height:460px;
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    overflow-x: -moz-hidden-unscrollable;/*火狐用隱藏滾動條*/
}
.chat-div-right-buttom{
    width: 578px;
    height:130px;
    border-radius: 0 0 10px 0;
    display: none;
}
.send-message{
    height:140px;
    border-radius: 0 0 10px 0;
}
.messages-div{
    width: 99%;
    height:65px;
    border: none;
    overflow:hidden;
    resize:none;
    background: none;
    outline:none
}
.messages-button-list{
    position: relative;
    z-index: 1;
    height:35px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.button-send{
    width: 97%;
    height: 27px;
}
.send-button{
    float: right;
    border: none;
    padding: 7px;
    background: rgb(255, 162, 4);
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}
.send-button:hover{
    box-shadow: none;
}
.chat-send-message{
    width: 548px;
    height: auto;
    clear: right;
    margin: 0 auto 0 auto;
}
.send-message-time{
    margin: 0 10px;
    width: 60%;
    text-align: right;
    font-size: 11px;
    color: rgba(0,0,0,0.3);
}
.chatting-portrait{
    width: 30px;
    height:30px;
    border-radius: 30px;
}
.sended-message{
    width:auto;
    max-width: 300px;
    height: auto;
    padding: 5px;
    white-space: pre-wrap;
    word-break: break-all;

}
.sended{
    background: rgba(255,165,0,0.77);
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 2px;
}
.chat-send-message-time{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*上面是發送出去的消息，下面是接收到的消息*/


.chat-receive-message{
    float: left;
    width: 548px;
    height: auto;
    clear: right;
    margin: 0 15px;
}
.receive-message-time{
    margin: 0 10px;
    width: 70%;
    text-align: left;
    font-size: 11px;
    color: rgba(0,0,0,0.3);

}
.receiveed-message{
    width:auto;
    max-width: 300px;
    height: auto;
    padding: 5px;
    white-space: pre-wrap;
    word-break: break-all;

}
.receiveed{
    background: rgba(198,199,192,1);
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 2px;
}
.chat-receive-message-time{
    margin-top: 10px;
    margin-bottom: 10px;
    clear: left;
}
.recent-message{
    width: 160px;
    float: left;
    margin: 0;
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:30px;
}
.History-record{
    line-height: 30px;
    height:30px;
    margin-top: 2.5px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    display:-webkit-inline-box;
    text-align: center;
    float: right;
    cursor: pointer;
    margin-right: 5px;
}
.History-record:hover{
    background:rgb(216,220,223);
}
.history-record-div{
    display: none;
    height: 666px;
    float: left;
    width: 200px;
    border-radius: 0 10px 10px 0;
    /*border-left: 1px rgba(0,0,0,0.12) solid;*/
}
.history-record-div-top{
    height:64px;
    width: 200px;
    background: rgb(245,245,245);
    border-bottom: 1px rgba(0,0,0,0.12) solid;
    border-radius: 0 10px 0 0;
}
.history-record-div-main{
    background: whitesmoke;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    overflow: scroll;
    height: 571px;
    width: 200px;
    border-bottom: 1px rgba(0,0,0,0.12) solid;
}
.history-record-div-bottom{
    height: 30px;
    width: 200px;
    box-shadow-bottom: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}
.expression-button{
    width: 25px;
    height:25px;
    margin:5px;
    background: url("../images/expression.png");
    background-size: 25px 25px;
    float: left;
}
.expression-button:hover{
    background: url("../images/expression-1.png");
    background-size: 25px 25px;
}
.emoji-div{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border-radius: 5px;
    background: white;
    float: left;
    position: absolute;
    z-index: 99;
    bottom: 35px;
    width: 270px;
    height: 195px;
}
.emoji-div ul{
    padding: 0;
    margin: 0;
}
.emoji-li{
    padding: 2px 3px;
    float: left;
    list-style: none;
}
.emoji-li:hover{
    background: #EEE;
}
.emoji-li img{
    width: 32px;
    height:32px;
}
.message-emoji{
    height: 23px;
    width: 23px;
}
.recent-message .message-emoji{
    margin-top: 2px;
}
.history-record-from{
    float: left;
    margin: 0;
    width: 60px;
    font-size: 13px;
    margin-left: 10px;
    line-height: 30px;
    color: rgb(255,172,42);
}
.history-record-time{
    color: rgb(255,172,42);
    float: left;
    margin: 0;
    font-size: 13px;
    width: 129px;
    line-height: 30px;
}
.history-record-message{
    line-height: 40px;
    margin: 0;
    margin-left: 10px;
    font-size: 13px;
    width: 180px;
}
.Refresh{
    width: 30px;
    height:30px;
    background: url("../images/Refresh.png");
    background-size:25px 25px;
    background-repeat: no-repeat;
    margin: 2.5px;
    float: left;
}
.Refresh:hover{
    background: url("../images/Refresh-1.png");
    background-size:25px 25px;
    background-repeat: no-repeat;
    margin: 2.5px;
}
.change-page-div{
    width: 160px;
    height:30px;
    float: right;
    border-radius: 0 0 10px 0;
}
.change-page-button{
    width: 25px;
    height: 25px;
    margin: 2.5px 7.5px;
    float: left;
}
.login-out{
    width: 30px;
    height:30px;
    background: url("../images/out.png");
    position: relative;
    background-size:30px 30px;
    top:600px;
    background-repeat: no-repeat;
    margin-left: 15px;
}
.login-out:hover{
    background: url("../images/out-1.png");
    background-repeat: no-repeat;
    background-size:30px 30px;
}
.mask,.mask-agreeAdd,.mask-screenshot{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}
.add-friend-div{
    width: 400px;
    height: 169px;
    margin: auto;
    margin-top: 200px;
    background: white;
    border-radius: 10px;
}
.add-friend-title{
    width: 350px;
    text-align:left;
    padding-left: 10px;
    margin: 0;
    height: 40px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    line-height: 40px;
    float: left;
}
.add-friend-out{
    width: 40px;
    height:40px;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.add-friend-img,.agree-friend-img{
    width: 25px;
    height:25px;
    margin: 7.5px;
}

.add-friend-button{
    width: 100px;
    height:40px;
    margin: 20px 150px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-image: -webkit-linear-gradient(to right, orange, rgb(255,127,43));
    background-image: linear-gradient(to right,orange,rgb(255,127,43));
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
}
.add-friend-button:hover{
    box-shadow: none;
}
.setting-div{
    display:none;
    width: 25px;
    height:25px;
    float: right;
    margin: 19.5px 12px;
    background: url("../images/friendSetting.png");
    background-size:25px 25px ;
}
.setting-div:hover{
    background: url("../images/friendSetting-1.png");
    background-size:25px 25px ;
}
.setting-list-div{
    display: none;
    width: 160px;
    height:30px;
    background: white;
    border-radius: 3px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    margin-top: 10px;

}
.setting-deleterFriend-div{
    border-radius: 3px;
    width: 160px;
    height:30px;
}
.setting-deleterFriend-div:hover{
    background: rgba(0,0,0,0.2);
}
.setting-deleterFriend-div:hover p{
    color: rgb(255,162,4);
}
.setting-list-div p{
    line-height: 30px;
    text-align: center;
    margin: 0;
    float: left;
    cursor: pointer;
}
.setting-list-div p:hover{
    color: rgb(255,162,4);
    cursor: pointer;
}
.setting-list-div img{
    float: left;
    width: 20px;
    height:20px;
    margin: 5px;
    /*margin-left: 30px;*/
}
.agree-friend-name{
    margin-left: 10px;
}
.add-friend-bottom p{
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    line-height: 40px;
}
.Agree-friend-button{
    clear: left;
    float: left;
    width: 62px;
    height:32px;
    background: rgb(255,162,4);
    border-radius: 4px;
    border: none;
    color: white;
    margin-left: 100px;
    margin-right: 38px;
    margin-top: 30px;
}
.Refuse-friend-button{
    float: left;
    width: 62px;
    height:32px;
    background: rgb(255,58,0);
    border-radius: 4px;
    border: none;
    color: white;
    margin-right: 100px;
    margin-left: 38px;
    margin-top: 30px;
}
.send-img{
    width: 80%;
    margin-left: 10%;
}
.chat-list-div .send-img{
    width: 20px;
    height:20px;
    margin-left:0;
}
.picture_button{
    outline: none;
    border:none;
    background: url("../images/picture.png");
    width: 27px;
    height:27px;
    font-size: 0;
    padding: 0;
    float: left;
    background-size: 27px 27px;
    margin:4.5px 5px;
}
.picture_button:hover{
    background: url("../images/picture-1.png");
    background-size: 27px 27px;
}
.picture_input{
    display: none;
}
.file_button{
    outline: none;
    border:none;
    background: url("../images/file.png");
    width: 21px;
    height:21px;
    font-size: 0;
    padding: 0;
    float: left;
    background-size: 21px 21px;
    margin:6.5px 5px 7.5px 13px;
}
.file_button:hover{
    background: url("../images/file-1.png");
    background-size: 21px 21px;
}
.file_input{
    display: none;
}
.load{
    width: 400px;
    height:300px;
    background: url("../images/load.gif");
    margin: 300px auto;
}
.unread{
    display: none;
    border-radius: 90px;
    background: red;
    width: 7px;
    height:7px;
    float: right;
    margin: 20px 10px 0 0;
}
.message-file-top{
    width: 200px;
    height: 31px;
    border-bottom: 1px solid black;
}
.message-file-bottom{
    width: 200px;
    height: 48px;
}
.file_name{
    margin: 0;
    line-height: 24px;
    width: 140px;
    float: left;
    margin-left: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.file_down_url{
    line-height: 24px;
    margin: 0;
    width: 140px;
    float: left;
    margin-left: 10px;
}
.file_down_url a{
    text-decoration: none;
    color: #737373;
}
.file_img{
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background-size: 32px 32px;
}
.msg-audio-img{
    float: left;
    width: 25px;
    margin-top: 2px;
}
.msg-audio-length{
    line-height: 30px;
    margin: 0;
    float: left;
    margin-left: 10px;
}
.audio_play{
    height:30px;
}
.screenshot{
    outline: none;
    border:none;
    background: url("../images/screenshot.png");
    width: 21px;
    height:21px;
    font-size: 0;
    padding: 0;
    float: left;
    background-size: 21px 21px;
    margin:6.5px 5px 7.5px 13px;
}
.downland_button{
    margin-top: 30px;
    width: 200px;
    height:30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 6px 0px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    background-image:-webkit-linear-gradient(to right, orange, rgb(255,127,43)); background-image:linear-gradient(to right,orange,rgb(255,127,43));
    text-align: center;
}
.language_div{
    width: 150px;
    height: 40px;
    background: #FFA500;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    color: white;
    /* margin-top: 300px; */
    margin: 0 auto;
    margin-top: 350px;
}
.login-txt-left a{
    line-height: 38px;
    color: #feb90c;
}
.login-txt-right a{
    line-height: 38px;
    color: #feb90c;
}